* {
  padding: 0;
  margin: 0;
}

header {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: #2869ab;
  width: 100%;
  position: fixed;
  top: 0;
}
header h1 {
  display: none;
}

.navbar {
  background-color: #2869ab;
  width: 180px;
  top: 171px;
  position: fixed;
  height: 100vh;
  border-right: 1px solid black;
}
.navbar ul {
  padding: 0;
  list-style: none;
}
.navbar ul li {
  margin: 0;
}
.navbar ul li a {
  display: block;
  color: white;
  text-decoration: none;
  padding: 15px 20px;
}
.navbar ul li a:hover {
  background-color: white;
  color: #2869ab;
}

footer {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  position: relative;
  color: white;
  background-color: #2869ab;
  z-index: 10;
}
footer h1 {
  display: none;
}
footer img {
  width: 150px;
}

.footer-nav ul {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  list-style: none;
}
.footer-nav ul li a {
  color: white;
  text-decoration: none;
}
.footer-nav ul li a:hover {
  background-color: white;
  color: #2869ab;
}

main {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-left: 180px;
  margin-top: 175px;
}

.position {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 80%;
  text-align: center;
  margin-bottom: 1em;
  margin-top: 1em;
}
.position h2 {
  width: 100%;
  margin-bottom: 1em;
}
.position-article {
  width: 100%;
  border: 1px solid black;
}
.position-article h3 {
  border-bottom: 1px solid black;
}

.cards {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: center;
  width: 80%;
  text-align: center;
  margin-bottom: 1em;
  margin-top: 1em;
}
.cards h2 {
  grid-column: span 2;
  width: 100%;
  margin-bottom: 1em;
}
.cards-article {
  width: 100%;
  text-align: center;
}
.cards-article img {
  min-width: 150px;
  width: 50%;
}

.investments {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: center;
  width: 80%;
  text-align: center;
  margin-bottom: 1em;
  margin-top: 1em;
}
.investments h2 {
  grid-column: span 2;
  margin-bottom: 1em;
}
.investments-section {
  width: 80%;
  justify-self: center;
  border: 1px solid black;
}
.investments-section h3 {
  width: 100%;
  margin-bottom: 1em;
}
.investments-section-article {
  margin-bottom: 1em;
}

.loans {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 80%;
  text-align: center;
  margin-bottom: 1em;
  margin-top: 1em;
}
.loans h2 {
  width: 100%;
  margin-bottom: 1em;
}
.loans-article {
  width: 100%;
  text-align: center;
}
.loans-article h3 {
  margin-bottom: 0.5em;
}
.loans-article p {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}
.loans-article p br {
  margin-top: 0.5em;
}

.help {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 80%;
  text-align: center;
  margin-bottom: 1em;
  margin-top: 1em;
}
.help h2 {
  width: 100%;
}
.help-article {
  margin-top: 1em;
  width: 100%;
}
.help-article h3 {
  width: 100%;
  margin-bottom: 1em;
}

/*# sourceMappingURL=styles.css.map */
