* {
  padding: 0;
  margin: 0;
}

header {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: #2869ab;
  width: 100%;
  position: fixed;
  top: 0;
}
header h1 {
  display: none;
}
header img {
  width: 250px;
  height: 125px;
}

.navbar-header {
  background-color: #2869ab;
  width: 100%;
  margin-left: 180px;
}
.navbar-header ul {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  list-style: none;
  padding: 0;
  margin-top: 1em;
  margin-bottom: 0;
}
.navbar-header ul li {
  display: inline;
}
.navbar-header ul li a {
  color: white;
  text-decoration: none;
  font-size: 1.2em;
}
.navbar-header ul li a:hover {
  background-color: white;
  color: #2869ab;
}
.navbar-lateral {
  background-color: #2869ab;
  width: 180px;
  top: 170px;
  position: fixed;
  height: 100vh;
  border-right: 1px solid black;
}
.navbar-lateral ul {
  padding: 0;
  list-style: none;
}
.navbar-lateral ul li {
  margin: 0;
}
.navbar-lateral ul li a {
  display: block;
  color: white;
  text-decoration: none;
  padding: 15px 20px;
}
.navbar-lateral ul li a:hover {
  background-color: white;
  color: #2869ab;
}

.mainLogin {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 148px;
  margin-left: 0;
}

.login {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: center;
  border: 1px solid black;
  background-color: #2869ab;
  color: white;
  width: 40%;
}
.login-h1 {
  grid-column: span 2;
  justify-self: center;
  margin-top: 1em;
}
.login-h2 {
  grid-column: span 2;
  justify-self: center;
  margin-bottom: 1em;
  font-size: 1.2em;
}
.login-img {
  grid-column: span 2;
  width: 250px;
  justify-self: center;
  align-self: center;
}
.login-form {
  grid-column: span 2;
  justify-self: center;
  max-width: 250px;
  align-self: center;
  margin-bottom: 1em;
  padding: 20px;
  border: 1px solid #ccc;
  background-color: #f9f9f9;
  text-align: center;
}
.login-form input {
  width: 90%;
  padding: 10px;
  margin-bottom: 10px;
}
.login-form button {
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  cursor: pointer;
  font-size: 16px;
}
.login-form button:hover {
  background-color: #0056b3;
}

.footer {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  position: fixed;
  width: 100%;
  bottom: 0;
  color: white;
  background-color: #2869ab;
  z-index: 10;
}
.footer h1 {
  display: none;
}
.footer img {
  width: 150px;
}
.footer-nav ul {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  list-style: none;
  padding: 0;
  margin-bottom: 0;
}
.footer-nav ul li a {
  color: white;
  text-decoration: none;
}
.footer-nav ul li a:hover {
  background-color: white;
  color: #2869ab;
}
.footer-contact ul {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  list-style: none;
  padding: 0;
  margin-bottom: 0;
}
.footer-contact ul li a {
  color: white;
  text-decoration: none;
}
.footer-contact ul li a:hover {
  background-color: white;
  color: #2869ab;
}

button {
  background-color: #2869ab;
  color: white;
  border: none;
  font-size: 1.2em;
  cursor: pointer;
}
button:hover {
  background-color: lightblue;
  color: black;
}

/* Estilos para la clase .mainNormal */
.mainNormal {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 170px;
  margin-left: 181px;
  margin-bottom: 136px;
}

/* Estilos para la clase .hide (oculta elementos) */
.hide {
  display: none;
}

/* Estilos para la clase .position */
.position {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 80%;
  text-align: center;
  margin-bottom: 1em;
  margin-top: 1em;
  border: 1px solid black;
}
.position h2 {
  width: 100%;
  margin-bottom: 1em;
}
.position-article {
  width: 90%;
  display: flex;
  align-items: center;
  border: 1px solid black;
  margin-bottom: 1em;
  padding: 0.5em;
}
.position-article h3 {
  margin-bottom: 0.5em;
}
.position-article p {
  margin-left: auto;
}

/* Estilos para la clase .cards */
.cards {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: center;
  width: 80%;
  text-align: center;
  margin-bottom: 1em;
  margin-top: 1em;
  border: 1px solid black;
}
.cards h2 {
  grid-column: span 2;
  width: 100%;
  margin-bottom: 1em;
}
.cards-article {
  width: 100%;
  text-align: center;
}
.cards-article img {
  min-width: 150px;
  width: 50%;
}
.cards-nav-ul {
  list-style: none;
}
.cards-nav-ul-li {
  margin-top: 1em;
  margin-bottom: 1em;
}
.cards-nav-ul-li-a {
  text-decoration: none;
  background-color: #2869ab;
  color: white;
  border: 1px solid black;
}
.cards-nav-ul-li-a:hover {
  background-color: lightblue;
  color: black;
}

/* Estilos para la clase .investments */
.investments {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: center;
  text-align: center;
  width: 50%;
  margin-bottom: 1em;
  margin-top: 1em;
}
.investments h2 {
  grid-column: span 2;
  margin-bottom: 1em;
}
.investments-section {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: center;
  width: 80%;
  justify-self: center;
}
.investments-section h3 {
  grid-column: span 2;
  margin-bottom: 1em;
}
.investments-section-article {
  grid-column: span 2;
  border: 1px solid black;
  margin-bottom: 1em;
}
.investments-section-article h4 {
  grid-column: span 2;
  margin-bottom: 1em;
  margin-top: 1em;
}
.investments-section-article p {
  grid-column: span 2;
  margin-bottom: 1em;
}
.investments-section-article button {
  grid-column: span 2;
  font-size: 1em;
  justify-self: center;
  padding: 5px;
  border: 1px solid black;
  margin-bottom: 1em;
}

/* Estilos para la clase .loans */
.loans {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  justify-content: center;
  width: 80%;
  text-align: center;
  margin-bottom: 1em;
  margin-top: 1em;
}
.loans h2 {
  width: 100%;
  margin-bottom: 1em;
}
.loans-article {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: center;
  width: 50%;
  justify-self: center;
  border: 1px solid black;
  margin-bottom: 1em;
}
.loans-article h3 {
  grid-column: span 2;
  margin-bottom: 1em;
}
.loans-article-p {
  grid-column: span 2;
  margin-bottom: 1em;
}
.loans-article button {
  grid-column: span 2;
  font-size: 1em;
  justify-self: center;
  padding: 5px;
  border: 1px solid black;
  margin-bottom: 1em;
}
.loans-article-months {
  grid-column: span 2;
  margin-bottom: 1em;
  justify-self: center;
}
.loans-article-months-p {
  display: inline;
}
.loans-article-amount {
  grid-column: span 2;
  margin-bottom: 1em;
  justify-self: center;
}
.loans-article-amount-p {
  display: inline;
}

/* Estilos para la clase .help */
.help {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 80%;
  margin-top: 1em;
  margin-bottom: 1em;
  text-align: center;
  border: 1px solid black;
}
.help-h2 {
  font-size: 2em;
  color: #333; /* Color del texto */
}
.help-article {
  text-align: center;
}
.help-article-h3 {
  text-align: center;
  margin-bottom: 1em;
  margin-top: 1em;
}
.help-article-a {
  text-decoration: none;
  background-color: #2869ab;
  color: #fff;
  border: 1px solid black;
  font-size: 1.2em;
}
.help-article-a:hover {
  background-color: lightblue;
  color: black;
}
.help-article-nav-ul {
  list-style: none;
  padding: 0;
}
.help-article-nav-ul-li {
  text-align: center;
  margin-top: 1em;
  margin-bottom: 1em;
  font-size: 1.2em;
}
.help-article-nav-ul-li-a {
  text-decoration: none;
  background-color: #2869ab;
  color: white;
  border: 1px solid black;
}
.help-article-nav-ul-li-a:hover {
  background-color: lightblue;
  color: black;
}
.help-article-contact-ul {
  list-style: none;
  padding: 0;
}
.help-article-contact-ul-li {
  text-align: center;
  margin-bottom: 1em;
}
.help-article-contact-ul-li-a {
  text-decoration: none;
  background-color: #2869ab;
  color: white;
  border: 1px solid black;
}
.help-article-contact-ul-li-a:hover {
  background-color: lightblue;
  color: black;
}

/*# sourceMappingURL=styles.css.map */
