.mainNormal{
  @include contenedor-flex;
  margin-top: 148px;
  margin-left: 181px;
  margin-bottom: 90px;
}

.hide{
  display: none;
}

.position {
  @include contenedor-flex;
  width: 80%;
  text-align: center;
  margin-bottom: 1em;
  margin-top: 1em;
  border: 1px solid black;
  & h2 {
    width: 100%;
    margin-bottom: 1em;
  }
  &-article {
    width: 90%;
    display: flex;
    align-items: center;
    border: 1px solid black;
    margin-bottom: 1em;
    padding: 0.5em;
    & h3 {
      margin-bottom: 0.5em;
    }
    & p {
      margin-left: auto;
    }
  }
}



.cards{
  @include contenedor-grid;
  width: 80%;
  text-align: center;
  margin-bottom: 1em;
  margin-top: 1em;
  border: 1px solid black;
  & h2{
    grid-column: span 2;
    width: 100%;
    margin-bottom: 1em;
  }
  &-article{
    width: 100%;
    text-align: center;
    & img{
      min-width: 150px;
      width: 50%;
    }
  }
  &-nav-ul{
    list-style: none;
    &-li{
      margin-top: 1em;
      margin-bottom: 1em;
      &-a{
        text-decoration: none;
        background-color: $background-color;
        color: white;
        border: 1px solid black;
      }
      &-a:hover{
        background-color: lightblue;
        color: black;
      }
    }
  }
}

.investments{
  @include contenedor-grid;
  text-align: center;
  width: 50%;
  margin-bottom: 1em;
  margin-top: 1em;
  & h2{
    grid-column: span 2;
    margin-bottom: 1em;
  }
  &-section{
    @include contenedor-grid;
    width: 80%;
    justify-self: center;
    & h3{
      grid-column: span 2;
      margin-bottom: 1em;
    }
    &-article{
      grid-column: span 2;
      border: 1px solid black;
      margin-bottom: 1em;
      & h4{
        grid-column: span 2;
        margin-bottom: 1em;
        margin-top: 1em;
      }
  
      & p{
        grid-column: span 2;
        margin-bottom: 1em
      }
      & button{
        grid-column: span 2;
        font-size: 1em;
        justify-self: center;
        padding: 5px;
        border: 1px solid black;
        margin-bottom: 1em
      }
    }
    
  }
}

.loans{
  @include contenedor-flex;
  justify-content: center;
  width: 80%;
  text-align: center;
  margin-bottom: 1em;
  margin-top: 1em;
  & h2{
    width: 100%;
    margin-bottom: 1em;
  }
  &-article{
    @include contenedor-grid;
    width: 50%;
    justify-self: center;
    border: 1px solid black;
    margin-bottom: 1em;
    & h3{
      grid-column: span 2;
      margin-bottom: 1em;
    }
    &-p{
      grid-column: span 2;
      margin-bottom: 1em
    }
    & button{
      grid-column: span 2;
      font-size: 1em;
      justify-self: center;
      padding: 5px;
      border: 1px solid black;
      margin-bottom: 1em
    }
    &-months{
      grid-column: span 2;
      margin-bottom: 1em;
      justify-self: center;
      &-p{
        display: inline;
      }
    }
    &-amount{
      grid-column: span 2;
      margin-bottom: 1em;
      justify-self: center;
      &-p{
        display: inline;
      }
    }
  }
    
  
  
  
}

.help{
  @include contenedor-flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 80%;
  margin: 0 auto;
  text-align: left;
  padding: 20px;
  border: 1px solid black;
  &-h2 {
    font-size: 2em;
    color: #333; /* Color del texto */
  }
  &-article {
    text-align: center;
    &-h3{
      text-align: center;
      margin-bottom: 1em;
      margin-top: 1em;
    }
    &-a{
      text-decoration: none;
      background-color: $background-color;
      color: #fff;
      border: 1px solid black;
      font-size: 1.2em;
      &:hover {
        background-color: lightblue;
        color: black;
      }
    }
    &-nav {
      &-ul {
        list-style: none;
        padding: 0;
        &-li {
          text-align: center;
          margin-top: 1em;
          margin-bottom: 1em;
          font-size: 1.2em;
          &-a {
            text-decoration: none;
            background-color: $background-color;
            color: white;
            border: 1px solid black;
            &:hover {
              background-color: lightblue;
              color: black;
            }
          }
        }
      }
    }
    &-contact{
        &-ul{
          list-style: none;
          &-li{
            text-align: center;
            margin-bottom: 1em;
            &-a {
              text-decoration: none;
              background-color: $background-color;
              color: white;
              border: 1px solid black;
              &:hover {
                background-color: lightblue;
                color: black;
              }
            }
          }
        }

      }
  }
  
}