footer{
  @include contenedor-flex(row, space-evenly, center);
  color: white;
  background-color: #2869ab;
  & h1{
    display: none;
  }
  & nav{
    & ul{
      @include contenedor-flex(column, space-evenly, center);
      list-style: none;
      & li{
        & a{
          color: white;
          text-decoration: none;
        }
      }
    }
  }
  & img{
    width: 150px;
  }
}