.footer{
  @include contenedor-flex(row, space-evenly, center);
  position: fixed;
  width: 100%;
  bottom: 0;
  color: white;
  background-color: #2869ab;
  z-index: 10;
  & h1{
    display: none;
  }
  & img{
    width: 150px;
  }
  &-nav{
    & ul{
      @include contenedor-flex(column, space-evenly, center);
      list-style: none;
      padding: 0;
      margin-bottom: 0;
      & li{
        & a{
          color: white;
          text-decoration: none;
          &:hover{
            background-color: white;
            color: $background-color;
          }
        }
      }
    }
  }
  &-contact{
    & ul{
      @include contenedor-flex(column, space-evenly, center);
      list-style: none;
      padding: 0;
      margin-bottom: 0;
      & li{
        & a{
          color: white;
          text-decoration: none;
          &:hover{
            background-color: white;
            color: $background-color;
          }
        }
      }
    }
  }
}

